#--------------------------------------------------------------------
# このファイルを .env にコピーして使用してください
# cp .env.example .env
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

app.baseURL = 'http://localhost:8080/'

#--------------------------------------------------------------------
# DATABASE
# ホスト名は「db」（docker-compose.ymlのサービス名）
#--------------------------------------------------------------------
database.default.hostname = db
database.default.database = unlock_kintai_db
database.default.username = user
database.default.password = password
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

#--------------------------------------------------------------------
# ENCRYPTION
# php spark key:generate で自動生成されます
#--------------------------------------------------------------------
# encryption.key =

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------
session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
session.savePath = null

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------
logger.threshold = 4
